* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(41, 42, 43);
  color: rgb(255, 255, 255);
}

.main-header {
  width: 100%;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(238, 238, 238);
}

.navbar {
  max-width: 1400px;
  height: 100px;
  margin: 0 auto;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.brand-letter {
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 86, 179);
}

.search-form input {
  width: 290px;
  height: 50px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
}

.navbar-time {
  color: rgb(102, 102, 102);
  font-size: 14px;
}
.cart-button {
  width: 290px;
  height: 50px;
  padding: 8px 14px;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.cart-button:hover {
  background-color: rgb(0, 86, 179);
}

.main-content {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cards-section {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 20px;
}
.card {
  width: 320px;
  height: 350px;
  background-color: rgb(177, 206, 201);
  border-radius: 14px;
}

.menu-buttons {
  background-color: rgb(177, 206, 201);
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  position: relative;
  z-index: 10px;
  top: -95px;
}

.menu-btn {
  padding: 25px 60px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.menu-btn:hover {
  background-color: rgb(0, 86, 179);
}
